[Unit]
Description=ROM listener (nc-based)
After=network-online.target
Wants=network-online.target

[Service]
# Run as root so fbi can happily use /dev/tty1 and /dev/fb0
User=root
Group=root
WorkingDirectory=/home/admin

ExecStart=/home/admin/rom_listener.sh

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
